.cancelContainer {
    margin: 10rem auto;
    width: 40%;
    padding: 3rem 1rem 5rem 1rem;
    background-color: #0a0a0a;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    min-width: 370px;
}

.cancelContainer h1 {
    font-size: 2rem;
    font-weight: bold;
}

.cancelContainer h3 {
    text-align: center;
}

.buttonsCancel {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 2rem;
}

.buttonsCancel button, .buttonsCancel a {
    font-size: 1.2rem;
    font-weight: bold;
    padding: .8rem 1.6rem;
    border-radius: 20px;
}

.buttonsCancel button {
    background-color: #235BD7;
}

.buttonsCancel a {
    background-color: #FF4500;
}