@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.outer-container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

.outer-container::before {
    content: '';
    position: absolute;
    width: 2400px;
    height: 2400px;
    border-radius: 50%;
    background: linear-gradient(318deg, rgba(186,179,246,1) 9%, rgba(45,86,157,1) 33%, rgba(22,41,75,1) 47%, rgba(17,24,39,1) 64%); 
    top: -10%;
    right: 48%;
    transform: translateY(-50%);
    z-index: 6;
    transition: 1.8s ease-in-out;
}

.formsContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.signInForm, .signUpForm {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    transition: all 0.2s 0.7s;
    padding: 5rem;
}

.signInForm button, .signUpForm button {
    margin-top: 4rem;
    border-radius: 20px;
}

.signInForm a {
    color: #86ADBC;
    justify-self: flex-end;
}

.panelsContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    z-index: 7;
    gap: 1rem;
}

.leftPanel {
    padding: 14rem 17% 2rem 4%;;
    pointer-events: all;
}

.rightPanel {
    padding: 14rem 4% 2rem 17%;
    pointer-events: none;
}

.panel .content h3 {
    color: #fff;
    font-size: 2.5rem;
    font-weight: bold;
}

.panel .content {
    color: #fff;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
}

.rightPanel .content {
    transform: translate(800px);
}


.signInSignUp {
    position: absolute;
    top: 40%;
    left: 75%;
    transform: translate(-50%, -50%);
    width: 50%;
    display: grid;
    grid-template-columns: 1fr;
    z-index: 5;
    transition: 1s 0.7s ease-in-out;
}

.signInForm {
    z-index: 2;
}

.signUpForm {
    z-index: 1;
    opacity: 0;
}

.transparent {
    background: none;
    border: 2px solid #fff;
    border-radius: 30px;
    padding: .8rem 1.8rem;
    font-weight: bold;
    font-size: .9rem;
    transition: color, background .5s ease;
    min-width: 150px;
    line-height: .5rem;
}

  .transparent:hover {
    color: #000;
    background-color: #fff;
}

/* Animations */

.outer-container.sign-up-mode:before {
    transform: translate(100%, -50%);
    right: 52%;
}
  
.outer-container.sign-up-mode .leftPanel .content {
    transform: translateX(-800px);
}
  
.outer-container.sign-up-mode .signInSignUp {
    left: 25%;
}

.outer-container.sign-up-mode .signUpForm {
    opacity: 1;
    z-index: 2;
}

.outer-container.sign-up-mode .signInForm {
    opacity: 0;
    z-index: 1;
}

.outer-container.sign-up-mode .rightPanel .content {
    transform: translateX(0%);
}

.outer-container.sign-up-mode .leftPanel {
    pointer-events: none;
}
  
.outer-container.sign-up-mode .rightPanel {
    pointer-events: all;
}
  


@media (max-width: 870px) {
    .outer-container {
        min-height: 800px;
        height: 100vh;
    }
    .signInSignUp {
        width: 100%;
        top: 90%;
        transform: translate(-50%, -100%);
        transition: 2s ease-in-out;
    }
  
    .signInSignUp, .container.sign-up-mode .signInSignUp {
        left: 50%;
    }
  
    .panelsContainer {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 2fr 1fr;
    }
  
    .panel {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 2.5rem 8%;
      grid-column: 1 / 2;
    }
  
    .rightPanel {
      grid-row: 3 / 4;
    }
  
    .leftPanel {
      grid-row: 1 / 2;
    }
  
    .panel .content {
      padding-right: 15%;
      transition: transform 0.9s ease-in-out;
      transition-delay: 0.8s;
    }

  
    .transparent {
      height: 35px;
      font-size: 1rem;
    }
  
    .outer-container:before {
      width: 1500px;
      height: 1500px;
      transform: translateX(-50%);
      left: 30%;
      bottom: 68%;
      right: initial;
      top: initial;
      transition: 2s ease-in-out;
      background: rgb(186,179,246); 
      background: linear-gradient(318deg, rgba(186,179,246,1) 9%, rgba(45,86,157,1) 33%, rgba(22,41,75,1) 47%, rgba(17,24,39,1) 64%); 
    }

    .outer-container.sign-up-mode:before {
        background: rgb(45,86,157);
        background: linear-gradient(180deg, rgba(45,86,157,1) 0%, rgba(22,41,75,1) 16%, rgba(17,24,39,1) 28%); 
    }
  
    .outer-container.sign-up-mode:before {
      transform: translate(-50%, 100%);
      bottom: 32%;
      right: initial;
    }
  
    .outer-container.sign-up-mode .leftPanel .content {
      transform: translateY(-300px);
    }
  
    .outer-container.sign-up-mode .rightPanel .content {
      transform: translateY(0px);
    }
  

    .rightPanel .content {
      transform: translateY(300px);
    }
  
    .outer-container.sign-up-mode .signInSignUp {
      top: 5%;
      transform: translate(-25%, 0);
    }
  }

  @media (max-width: 570px) {
    form {
      padding: 0 1.5rem;
    }
  
    
    .panel .content {
      padding: 0.5rem 1rem;
    }

    .outer-container {
      padding: 1.5rem;
    }
  
    .outer-container:before {
      bottom: 72%;
      left: 50%;
    }
  
    .outer-container.sign-up-mode:before {
      bottom: 28%;
      left: 50%;
    }
  }