/* Containers styles */
.chats {
    width: 100%;
    position: relative;
    min-height: 90vh;
    display: flex;
    justify-content: flex-end;
    gap: 6rem;
}

.conversationsContainer {
    background-color: #111827;
    height: 100vh;
    min-height: 100%;
    width: 20%;
    display: flex;
    padding-top: 1rem;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    position: fixed;
    border-right: .5px solid #eee2;
    left: 0;
    box-shadow: 0 0 7px 2px #ddd2;
    top: 5%;
    overflow-y: auto;
}

.conversationsContainer h2 {
    font-size: 1.5rem;
    font-weight: bold;
}

.messagesContainer {
    width: 62%;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: auto;
    margin-bottom: 7rem;
    margin-right: 14%;
}
/* ************************************************ */

/* Message styles */
.messageContainer {
    max-width: 60%;
    width: max-content;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.messageContainerActualUser {
    align-self: flex-end;
    max-width: 60%;
    width: max-content;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.message {
    padding: .7rem 1rem;
    border-radius: 20px;
    background-color: #23272F;
    width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.messageContainerActualUser .message {
    background-color: #C78824;
}

.message p {
    font-size: .9rem;
    line-height: 150%;
}

.messageInfo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: .6rem;
    width: 100%;
    padding: .4rem
}

.messageInfo img {
    border-radius: 50%;
    width: 12%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    width: 40px;
}

.messageInfo p:nth-child(3)  {
    font-weight: lighter;
    font-size: .8rem;
    color: #ffe7e7
}

.messageInfo p:nth-child(2) {
    margin-right: auto;
}


.messageInfoActualUser {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: .6rem;
    width: 100%;
    padding: .4rem
}

.messageInfoActualUser p {
    font-weight: lighter;
    font-size: .8rem;
    color: #ffe7e7;
}
/* ************************************************ */



/* Send Message styles */
.wrapperSendMessages {
    background-color:  #111827;
    width: 70%;
    margin: 0 auto;
    min-height: 70px;
    position: fixed;
    right: 8%;
    bottom: 0;
}

.containerSendMessages {
    background-color: #27272a;
    padding: 0 0.75rem;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.containerSendMessages input {
    background-color: transparent;
    width: 100%;
    outline: none;
    border: none;
    padding: .2rem .5rem;
    font-size: 1rem;
}

.containerSendMessages input::placeholder {
    font-size: 1rem;
}

.containerSendMessages button {
    font-size: 2.3rem;
}
/* ************************************************ */



/* Chats aside styles */
.chat {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: .5rem 1rem;
    gap: 1.5rem;
    border-radius: 20px;
}

.chat:hover {
    background-color: #3a414e;
    cursor: pointer;
}

.chat img {
    border-radius: 50%;
    width: 12%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    width: 55px;
}

.chat > div {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.chatInfo {
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
}

.chatInfo p, .chat > div p {
    font-size: .8rem;
    font-weight: lighter;
}
/* ************************************************ */


@media screen and (max-width: 1000px) {
    .messageContainer, .messageContainerActualUser {
        max-width: 90%;
    }

    .wrapperSendMessages {
        width: 72%;
        right: 5%;
    }
}