/* Skeleton */
.headerSkeleton {
    width: 100%;
    background-color: #182237;
    padding: 20px;
    margin: 0 auto;
    margin-top: 7.8rem;
    border-radius: 10px;
}

.containerSkeleton {
    width: 90%;
    margin: 0 auto;
}


.containerSkeleton .container > div:not(:first-child), .headerSkeleton, .containerSkeleton .container div:first-child .overviewProject > div {
    background: linear-gradient(180deg, #182237 25%, #1f2c47 50%, #182237 75%);
    background-size: 100% 200%;
    animation: skeleton-loading 10s infinite ease-in-out;
  }
  
  @keyframes skeleton-loading {
    0% {
      background-position: 0 200%;
    }
    100% {
      background-position: 0 -200%;
    }
  }
  


/* -------------------------------------------------------------------------------------------- */

.container {
    width: 100%;
    margin: 4rem 0;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    grid-template-rows: repeat(3, minmax(400px, auto));
}

.tasksContainer, .overviewGraphs, .overviewProject > div, .projectFiles, .employeesContainer, .overviewProject > div button {
    box-shadow: #00000014 0px 4px 12px;
    background-color: #182237;
    border-radius: 30px;
}

.tasksContainer, .employeesContainer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 1rem;
    padding: 1.2rem 2rem;
    grid-column: span 2;
    grid-row: 2;
}


.tasksContainer h3, .employeesContainer h3 {
    font-size: 1.5rem;
    font-weight: bold;
    justify-self: flex-start;
}

.overviewProject {
    display: grid;
    gap: 2em;
    grid-template-rows: repeat(3, minmax(100px, auto));
    grid-column: 1;
    padding: 1rem 1.5rem;
    font-size: 1.2rem;
}

.overviewProject > div, .overviewProject > div:nth-child(2) > div, .overviewProject > div button {
    width: 100%;
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.overviewProject > div h3, .overviewProject > div button h3 {
    color: #A1AFC570;
    font-size: 1rem;
    font-weight: bold;
}

.overviewProject > div p, .overviewProject > div button p {
    font-weight: bold;
    font-size: 1.2rem;
}

.overviewProject > div:nth-child(2) p, .overviewProject > div:nth-child(2) svg {
    color: #f00;
}

.overviewProject > div:not(:nth-child(2)), .overviewProject > div:not(:nth-child(2)) button  {
    color: #16e972;
}

.overviewProject > div svg {
    font-size: 2rem;
}

.overviewProject > div div:nth-child(2), .overviewProject > div button div:nth-child(2) {
    background-color: #1f2c47;
    border-radius: 0 20px 20px 0;
    width: 30%;
    padding: 1em;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.overviewProject > div div:first-child, .overviewProject > div button div:first-child {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.overviewProject > div > div, .overviewProject > div button div {
    padding: 1rem 1.5rem;
}

.overviewGraphs {
    grid-column: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.projectFiles {
    grid-column: 3;
    grid-row: span 3;
}

.employeesContainer {
    grid-column: span 2;
    grid-row: 3;
}

.taskHeader, .employeeHeader {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}

.taskHeader a, .employeeHeader a {
    color: #fff;
    background-color: #15803d;
    font-size: 1.8rem;
    padding: .01em 1em;
    border-radius: 20px;
}

.tasks, .employees {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
    flex-direction: column;
    overflow-y: auto;
    max-height: 500px;
    width: 100%;
    padding: 0 1rem;
}

.informationEmployees, .informationTasks {
    display: grid;
    padding: .5em 1.8em;
    min-width: 100%;
    background-color: #1f2c47;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(4, minmax(100px, 1fr)) 15px;
    border-radius: 20px;
    transition: transform .5s ease;
    font-weight: bold; 
}

.task, .employee {
    display: grid;
    padding: .5rem 1.8rem;
    min-width: 100%;
    background-color: #1f2c47;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(4, minmax(100px, 1fr)) 15px;
    border-radius: 20px;
    transition: transform .5s ease;
    font-size: 1.5rem;
    cursor: pointer;
}

.employee, .informationEmployees {
    grid-template-columns: 40px repeat(3, minmax(100px, 1fr)) 15px;
}

.informationEmployees {
    grid-template-columns: repeat(3, minmax(100px, 1fr));
}

.informationEmployees h4, .informationTasks h4 {
    justify-self: flex-start;
}
.task h3, .employee h3 {
    font-size: 1rem;
}

.task p, .employee p {
    font-weight: lighter;
    color: #eee;
    font-size: .9rem;
}


.task:hover, .employee:hover {
    transform: translateY(-10%);
    background-color: #243760;
}

.optionsProjects {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.titleContainer {
    grid-column: span 2;
    grid-row: 3;
    font-weight: bold;
    color: #ffffff;
    margin: 0;
    font-size: 1.7em;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.title {
    width: 40%; 
    background-color: #1f2c47;
    padding: 1em 1.2em;
    border-radius: 20px;
    transition: transform .5s ease;
    text-align: center;
}

.status {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    font-weight: bold;
    font-size: 1rem;
    color: #fff;
    gap: 0.5rem;
}

.inProgress {
    border: 2px solid #FFA500;
    color: #FFA500;
}

.pending {
    border: 2px solid #FFD700;
    color: #FFD700;
}

.onHold {
    border: 2px solid #FF4500;
    color: #FF4500;
}

.completed {
    border: 2px solid #32CD32;
    color: #32CD32;
}

.expense, .expensesHeader, .budgetsHeader, .budget {
    display: grid;
    grid-template-columns: repeat(4, minmax(90px, 1fr));
    gap: 1rem;
    background-color: #182237;
    border-radius: 20px;
    padding: 1rem 1.5rem;
    font-weight: lighter;
}

.budget h4 {
    color: #16e972;
    font-weight: bold;
}

.expense h4 {
    color: #f00;
    font-weight: bold;
}

.expensesHeader, .budgetsHeader {
    font-weight: bold;
}