.containerSendMessages {
    background-color: #27272a;
    padding: .8rem 1rem;
    margin-top: 4rem;
}

.containerSendMessages input {
    background-color: transparent;
    width: 100%;
    outline: none;
    border: none;
}